<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chi tiết sản phẩm</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
    />
    <link rel="stylesheet" href="../../css/components/details.css" />
  </head>
  <body>
    <header class="">header</header>
    <div class="wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="product_carousel p-0 col-md-6">
            <div class="carousel_img">
              <div class="new-tag">MỚI</div>
              <div class="sale-tag">
                <img class="w-100" src="../../assets/images/Details/sale.png" alt="" />
              </div>
              <img
                id="mainImage"
                class="img-fluid w-100"
                src="../../assets/images/Details/sp1.png"
                alt="sp-1"
              />
            </div>
            <div class="slice-carousel">
              <div>
                <img
                  class="img-fluid thumb"
                  src="../../assets/images/Details/sp1.png"
                  alt="sp-1"
                />
              </div>
              <div>
                <img
                  class="img-fluid thumb"
                  src="../../assets/images/Details/sp1.png"
                  alt="sp-2"
                />
              </div>
              <div>
                <img
                  class="img-fluid thumb"
                  src="../../assets/images/Details/sp1.png"
                  alt="sp-3"
                />
              </div>
              <div>
                <img
                  class="img-fluid thumb"
                  src="../../assets/images/Details/sp1.png"
                  alt="sp-4"
                />
              </div>
              <div>
                <img
                  class="img-fluid thumb"
                  src="../../assets/images/Details/sp1.png"
                  alt="sp-5"
                />
              </div>
              <div>
                <img
                  class="img-fluid thumb"
                  src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/detail1/big.webp"
                  alt="sp-6"
                />
              </div>
              <div>
                <img
                  class="img-fluid thumb"
                  src="../../assets/images/Details/sp1.png"
                  alt="sp-6"
                />
              </div>
            </div>
          </div>
          <div class=" product-info col-md-6">
              <h2 class="product-name" >
                Hóa chất 3M™ Stainless Steel Cleaner & Polish 621
              </h2>
            <div class="d-flex">
              <div class="rating">
                <span class="fa fa-star checked">1</span>
                <span class="fa fa-star checked">1</span>
                <span class="fa fa-star checked">1</span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <div class="tags">
                <a href="#" class="tag fw-light ml-3">#senda</a>
                <a href="#" class="tag fw-light ml-3">#cay_canh</a>
              </div>
            </div>
            <div class="product-price mt-3">
              <p class="price-original m-0">15.000.000đ</p>
              <p class="price-discounted">10.000.000đ</p>
            </div>
            <div class="product-desc d-none d-sm-block">
              <ul>
                <li>
                  <p>
                    Tượng trưng cho tấm lòng sắc son trong tình yêu và tình bạn.
                    Có thể đổi cây khác nếu cây bị hư hại trong quá trình vận
                    chuyển. Sản phẩm bao gồm: Cây, chậu nhựa.
                  </p>
                </li>
              </ul>
            </div>
            <div
              class="product-quantity d-flex justify-content-start align-items-center"
            >
              <p>SỐ LƯỢNG:</p>
              <div class="quantity-controls ml-3 d-flex">
                <button class="btn" id="decrease">-</button>
                <input
                  type="text"
                  id="quantity"
                  class="quantity-input"
                  value="1"
                  readonly
                />
                <button class="btn" id="increase">+</button>
              </div>
            </div>
            <div class="product-size mt-3 mt-md-4">
              <p>KÍCH THƯỚC:</p>
              <div class="size-list row">
                <div class="col-4 col-lg-6 col-xl-3 mb-3">
                  <button class="size-button btn btn-outline-secondary w-100">
                    <img
                      src="../../assets/images/Details/size.png"
                      alt="Size M"
                      class="size-icon"
                    />
                    <span class="size-text">Size M</span>
                  </button>
                </div>
                <div class="col-4 col-lg-6 col-xl-3 mb-3">
                  <button class="size-button btn btn-outline-secondary w-100">
                    <img
                      src="../../assets/images/Details/size.png"
                      alt="Size M"
                      class="size-icon"
                    />
                    <span class="size-text">Size M</span>
                  </button>
                </div>
                <div class="col-4 col-lg-6 col-xl-3 mb-3">
                  <button class="size-button btn btn-outline-secondary w-100">
                    <img
                      src="../../assets/images/Details/size.png"
                      alt="Size M"
                      class="size-icon"
                    />
                    <span class="size-text">Size M</span>
                  </button>
                </div>
                <div class="col-4 col-lg-6 col-xl-3 mb-3">
                  <button class="size-button btn btn-outline-secondary w-100">
                    <img
                      src="../../assets/images/Details/size.png"
                      alt="Size M"
                      class="size-icon"
                    />
                    <span class="size-text">Size M</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper mt-5 mb-5">
      <div class="container mt-5">
        <ul class="nav nav-fill nav-tabs border-0" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="fill-tab-0"
              data-bs-toggle="tab"
              href="#info"
              role="tab"
              aria-controls="fill-tabpanel-0"
              aria-selected="true"
              >Thông tin mô tả</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="fill-tab-1"
              data-bs-toggle="tab"
              href="#fill-tabpanel-1"
              role="tab"
              aria-controls="fill-tabpanel-1"
              aria-selected="false"
              >Đánh giá (11)</a
            >
          </li>
        </ul>
        <div class="tab-content" id="tab-content">
          <div
            class="tab-pane active description"
            id="info"
            role="tabpanel"
            aria-labelledby="fill-tab-0"
          >
            <h2>THÔNG TIN SẢN PHẨM</h2>
            <div class="content-section">
              <p class="content-title">1. Đặc điểm của sản phẩm</p>
              <p class="content-text">
                Điểm đặc biệt của sản phẩm này là chống lại sự oxy hóa, giúp bảo
                vệ bề mặt vật liệu luôn được sáng bóng và bền bỉ với thời gian.
                Lý tưởng cho thép không gỉ, chrome bề mặt nhôm và các bề mặt kim
                loại khác. Với công thức có độ bóng cao, lau sạch không để lại
                vệt hoặc tích tụ, chống lại dấu vân tay và bám bẩn bề mặt.
              </p>
              <p class="content-title">2. Công dụng của sản phẩm</p>
              <p class="content-text">
                Chai xịt lau bóng 3M xử lý tất cả các vết bẩn bám trên bề mặt
                vật liệu thép không gỉ, mạ Crom, Alumi và các bề mặt vật liệu
                khác.( Ví dụ như thiết bị nhà tắm, vòi rửa, vòi hoa sen, lò
                nướng, máy rửa chén công nghiệp, thang máy…)
              </p>
              <div class="content-image text-center">
                <img src="../../assets/images/Details/sp1.png" alt="" />
              </div>
              <p class="content-title">3. Hướng dẫn sử dụng</p>
              <div class="content-text">
                Lắc đều trước khi sử dụng.<br> ➤ Xịt lên bề mặt vật liệu cần làm
                sạch, chờ 2 đến 3 phút cho dung dịch ngấm vào.<br> ➤ Chà bằng miếng
                cọ rửa 3M hoặc bọt biển để tránh xước vật liệu.<br> ➤Rửa lại với
                nước sạch và lau khô. PestnClean là địa chỉ tin cậy cung cấp Hóa
                chất 3M™ Stainless Steel Cleaner & Polish 621ml (21Oz) chất
                lượng và uy tín. Bạn có thể dễ dàng mua sản phẩm này trên
                website của chúng tôi với mức giá hợp lý và nhiều ưu đãi hấp
                dẫn.
              </div>
            </div>
          </div>

          <div
            class="tab-pane"
            id="fill-tabpanel-1"
            role="tabpanel"
            aria-labelledby="fill-tab-1"
          >
            Tab nhận xet
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"
  ></script>
  <script src="../../js/components/details.js"></script>
</html>
